@{
    ViewBag.Title = "Contact";
}
@model VacationLocation.Models.FormModel

@using (Html.BeginForm())
{
    <fieldset>

        <!-- Form Name -->
        <legend>Formular</legend>
        @Html.Label("Varsta dumneavoastra:")<br />
        @Html.TextBox("Age") <br /><br />

        @Html.Label("Statut social")<br />
        @Html.DropDownListFor(m => m.selectedID, Model.status, "--Statut social--")<br />

        <br />
        @Html.Label("Aveti copii?")<br />
        @Html.RadioButton("hasKids", "Da", new { id="HasKids" }) Da<br />
        @Html.RadioButton("hasKids", "Nu", new { id="NoKids"}) Nu<br />

        <br />
        @Html.Label("Loc de nastere:")<br />
        @Html.TextBox("birthPlace")<br />
        <br />
        @Html.Label("Orasul de resedinta:")<br />
        @Html.TextBox("residencePlace")<br />
        <br />
        
        <!-- ToDo: add more options like tropical-->
        @Html.Label("Preferinte clima:") <br />
        @Html.RadioButton("climate", "Hot", new { id="hotClimate"}) Cald - America de sud, India, Ecuator<br />
        @Html.RadioButton("climate", "Temperate", new { id = "temClimate" }) Temperat - Europa centrala si de vest, Coasta de Est a Americii de Nord <br />
        @Html.RadioButton("climate", "Cold", new { id = "coldClimate" }) Rece - Suedia, Norvegia, Canada, Tarile Baltice <br />
        <br />
        @Html.Label("Genul de destinatie:") <br />
        @Html.RadioButton("citype", "Big", new { id = "bigDest" }) Oras mare/capitala - multe atractii turistice clasice, cultura, parcuri, etc.<br />
        @Html.RadioButton("citype", "Small", new { id = "smallDest"})  Oras mediu/provincie - atractii turistice alternative, mai putina aglomeratie.<br />
        @Html.RadioButton("citype", "Tiny", new { id = "tinyDest"}) Sat/comuna/zona izolata - agroturism, liniste, tratamente balneo-climaterice, traditii locale, etc. 
        <br />


        <!-- TO DO : - ADD SUBMIT BUTTON!!!!!!!!!!!!!
                     - LINK TO MODEL AND AFTER TO DB -->
        <!-- Button -->
        <div class="control-group">
            <label class="control-label" for="formSubmit"></label>
            <div class="controls">
                <button id="formSubmit" name="formSubmit" class="btn btn-primary">Submit</button>
            </div>
        </div>


       

    </fieldset>
}
