@model VacationLocation.Models.FormModel
@{
    ViewBag.Title = "Contact";
}

@using (Html.BeginForm())
{
    <fieldset>

        <legend>Formular</legend>
        <p>Varsta dumneavoastra: @Html.TextBoxFor(x => x.age)</p>
        <!-- Form Name -->

        <p>Status social: @Html.DropDownListFor(m => m.isSingle, new [] {
            new SelectListItem() {Text = "Single", Value = bool.TrueString},
            new SelectListItem() {Text = "Intr-o relatie/casatorit", Value = bool.FalseString}
                     }, "Alege o optiune...")</p>
        
        <p>Aveti copii?
        @Html.RadioButtonFor(x => x.hasKids, true) Da
        @Html.RadioButtonFor(x => x.hasKids, false) Nu</p>
       

        <p>Loc de nastere: @Html.TextBoxFor(x => x.birthPlace)</p>

        <p>Loc de resedinta: @Html.TextBoxFor(x => x.residencePlace)</p>

        <p>Preferinte clima: @Html.DropDownListFor(m => m.climate, new[] {
            new SelectListItem() {Text = "Cald - America de sud, India, Ecuator", Value = "hotClimate"},
            new SelectListItem() {Text = "Temperat - Europa centrala si de vest, Coasta de Est a Americii de Nord", Value = "tempClimate"},
            new SelectListItem() {Text = "Rece - Suedia, Norvegia, Canada, Tarile Baltice", Value="coldClimate"}
                        }, "Alege o optiune...")</p>

        <p>Genul de destinatie: @Html.DropDownListFor(x => x.cityType, new[] {
            new SelectListItem() {Text = "Oras mare/capitala - multe atractii turistice clasice, cultura, parcuri, etc.", Value = "bigDest"},
            new SelectListItem() {Text = "Oras mediu/provincie - atractii turistice alternative, mai putina aglomeratie.", Value = "smallDest"},
            new SelectListItem() {Text = "Sat/comuna/zona izolata - agroturism, liniste, tratamente balneo-climaterice, traditii locale, etc.", Value = "tinyDest"}
                           }, "Alege o optiune...")</p>

        <!-- ToDo: add more options like tropical-->
        @Html.Label("resultLabel", "")

        <!-- TO DO : - LINK TO MODEL AND AFTER TO DB -->
        <button type="submit">Recomanda!</button>

       

    </fieldset>
}
