@model VacationLocation.Models.DestinationModel

@{
    ViewBag.Title = "Thanks";
}

<h2>Thanks. Here is the stuff you chose.</h2>

<p>Orasul: @Model.cityName</p>
<p>Tara: @Model.countryName</p>
<p>Clima: @Model.climate</p>
<p>Bun pt Familii:@if (Model.suitableForFamilies == 1)
                  { @: Da! }</p>    
<p>Bun pt Cupluri: @if (Model.suitableForCouples == 1)
                  { @: Da! }</p>
<p>Varsta minima: @Model.minAge</p>
<p>Varsta maxima: @Model.maxAge</p>
