@model VacationLocation.Models.FormModel

@{
    ViewBag.Title = "Thanks";
}

<h2>Thanks. Here is the stuff you chose.</h2>

<p>@Model.resultLabel</p>
<p>varsta @Model.Age</p>
<p> @Model.birthPlace locul nasterii</p>
<p>@Model.cityType tip oras</p>
<p>@Model.climate climat</p>
<p>@Model.hasKids.ToString() are copii</p>
<p>@Model.isSingle.ToString() e singe</p>
<p>@Model.residencePlace.ToString() loul de resiedenta</p>
